<script>
    $( function() {
        $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
    } );
</script>
<form action="/groups/<%= actGroup.url_id %>/tasks/add" method="post">
    <div class="form-group">
        <label for="taskType">Típus</label>
        <select class="form-control" name="type" id="teaskType">
            <% for( let i = 0 ; i < taskTypeList.length ; ++i) { %>
            <option value="<%= taskTypeList[i].name %>"><%= taskTypeList[i].name %></option>
            <% } %>
        </select>
    </div>
    <div class="form-group">
        <label for="datepicker">Dátum</label>
        <input type="text" class="form-control" name="deadline" id="datepicker">
    </div>
    <div class="form-group">
        <label for="taskDescription">Leírás</label>
        <textarea class="form-control" name="description" id="taskDescription" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary float-right">Hozzáadás</button>
</form>