<!DOCTYPE html>
<html>
<head>
    <title>LearnTogether</title>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel='stylesheet' href='/css/main.css' />
</head>
<body>
<div class="container">
    <nav class="navbar fixed-top navbar-light bg-primary">
        <a class="navbar-brand text-white font-weight-bold" href="/">LearnTogether</a>
    </nav>
</div>
