<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" href="/groups/1234">Teendők</a>
        <a class="nav-item nav-link" href="/groups/1234/members">Tagok</a>
        <a class="nav-item nav-link" href="/groups/1234/teacher">Tanári oldal</a>
    </div>
</nav>
<br>