//Override variables
$primary: #00A62C;
$body-bg: #eee;

@import "../../node_modules/bootstrap/scss/bootstrap";

//custom classes
.content{
  margin-top: 60px;
}
.contentInner{
  max-width: 1100px;
}
.contentbox{
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px #DDDDDD;
  border-radius: 5px;
  box-shadow: 0 0 2px #000000;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.contentbox-frame{
  padding:5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}